    @import url('https://fonts.googleapis.com/css2?family=Gloock&family=Ubuntu&display=swap');

    html,body {
        margin:0;
        padding:0;
    }
    #content {
        max-width: 1600px;
        margin: 0 auto;
    }
    header {
        display: grid;
        grid-template-columns: 200px auto;
        text-align: center;
        background-color: #0C605C;
        height: 180px;
        border-bottom: black solid 5px;
    }
    #logo-link {
        padding: 25px;
        align-self: center;
    }
    .logo {
        width: 80%;
        position: relative;
    }
    h2 {
        font-family: Gloock;
    }
    p {
        font-family: Ubuntu;
    }
    a {
        font-family: Ubuntu;
        text-decoration: none;
    }
    .top-image {
        width: 100%;
    }
    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: static;
        margin: 40px 0px 40px 0px;
        background-color: black;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }
    nav a {
        text-align: center;
        color: white;
        text-decoration: none;
        padding: 20px;
    }
    main {
        position: relative;
        margin: -5px;
        border-top: black solid 5px;
    }
    #introduction-box {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        background-color: white;
    }
    .intro-image {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .intro-info {
        padding: 40px;
    }
    #home-box-2 {
        background-color: black;
        padding: 10px;
    }
    .siteplan {
        color: white;
        background-color: black;
        border-radius: 10%;
        padding: 5px;
    }
    .home-box-2-info {
        padding: 20px;
        text-align: center;
        color: white;
    }
    .button-page-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        background-color: #0C605C;
    }
    .link-button {
        margin: 80px;
        border: #0C605C 5px solid;
        color: white;
        font-size: 1.1em;
    }
    .home-links-image {
        width: 100%;
    }
    footer {
        text-align: center;
        padding: 25px;
    }
    .social-button {
        padding: 10px;
    }
    .intro-title {
        font-size: 2.1em;
    }
    #social-icons-background {
        margin: 0 auto;
        margin-top: -50px;
        background-color: black;
        border-radius: 20px;
        max-width: fit-content;
        padding: 5px;
        z-index: 2;
        position: relative;
    }
    nav .search-container {
        float: right;
    }
      
    nav input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 13px;
        border: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
      
    nav .search-container button {
        float: right;
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background:#0C605C;
        font-size: 13px;
        color: white;
        border: none;
        cursor: pointer;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }
      
    nav .search-container button:hover {
        background: #ccc;
    }
    .history-page-box {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .history-page-background {
        width: 100%;
        grid-column: 1/4;
        grid-row: 1/4;
        z-index: -1;
        position: relative;
    }
    .history-title {
        background-color: #EFF6E0;
        grid-column: 1/2;
        grid-row: 1/2;
        padding: 80px;
        font-family: Gloock;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }
    .history-page-info {
        padding: 80px;
        font-size: 1.5em;
        border-top: black 5px solid;
    }
    .history-page-images {
        display: grid;
        grid-template-columns: auto auto;
        border-top: 20px #0C605C double;
        margin-bottom: 20px;
    }
    .h-page-image1 {
        max-width: 100%;
    }
    .h-page-image2 {
        max-width: 100%;
    }